.to-do-item-container {
  background-color: #159097;
  display: grid;
  grid-template-columns: 4em auto auto;

  margin-top: 1em;
  /* padding: 1em 1em 1em 0.5em; */
  padding-top: 0.95em;

  color: #ffffff;
  max-height: 5em;
  height: 4.5em;
}
.delete-button {
  width: 2.1em;
  height: 2em;
  margin-left: auto;
  margin-right: 1.5em;
  border-radius: 20%;
  border-style: none;
  background-color: #f8d092;
}

.checkbox-round {
  -webkit-appearance: none;
  appearance: none;
  width: 2.1em;
  height: 2em;
  cursor: pointer;
  border: 0.15em solid #159097;
  outline: none;
  background-color: #d9d9d9;
  border-radius: 20%;
  margin-left: 1em;
}

.checkbox-round:checked {
  background-color: #d9d9d9;
}
.checkbox-round:hover {
  background-color: #b9b9b9;
}
.checkbox-round:checked:after {
  content: "\2714";
  position: relative;
  left: 0.3em;
  top: -0.1em;
  color: #25245d;
  font-weight: bold;
  font-size: 1.1rem;
}

.task-container {
  margin-left: 1em;
}

.task-completed {
  text-decoration: line-through;
}
.task-not-completed {
  text-decoration: none;
}
